
Conversa aberta. 2 mensagens. Todas as mensagens lidas.

Pular para o conteúdo
Como usar o E-mail de SEDUC com leitores de tela
Ativar as notificações na área de trabalho para o E-mail de SEDUC.
   OK  Agora não(a)

Código HTML Currículo Hospedar no https://app.netlify.com

Alex Gama Silva
Anexossex., 16 de ago., 16:15
Prezados Alunos(as), Boa Tarde! Segue anexo código HTML Limpo para que possam editar os dados e subir na plataforma de Hospedagem de Sites https://app.netlify.c

Alex Gama Silva
Anexos
qui., 22 de ago., 13:29 (há 12 dias)
para 00001073265018SP@al.educacao.sp.gov.br, mim, 00001106258198SP@al.educacao.sp.gov.br, 00001129460691SP@al.educacao.sp.gov.br, GABRIELLY, 0000113297771XSP@al.educacao.sp.gov.br, 00001117017217SP@al.educacao.sp.gov.br, Julia, KAUAN, 0000111863889XSP@al.educacao.sp.gov.br, Larissa, 0000109330568XSP@al.educacao.sp.gov.br, Leticia, Luiz, 00001117161006SP@al.educacao.sp.gov.br, MELISSA, 00001223070700SP@al.educacao.sp.gov.br, 00001117673741SP@al.educacao.sp.gov.br, Vinicius, Vitor, 00001082728901SP@al.educacao.sp.gov.br, 0000113273180XSP@al.educacao.sp.gov.br, Davyd, Ana, ANA, Anderson, Aryelle, Bianca, Camila, Camily, DEBORAH, GABRIELLY, Geovanna, Guilherme, Julia, KAUAN, Kauê, Larissa, LEANDRA, LETICIA, LUIZ, MANUELA, MELISSA, 00001223070700SP@aluno.educacao.sp.gov.br, THIAGO, Vinicius, Vitor, Yasmin, ZAKE, Davyd

Repassando o código HTML para hospedagem no https://app.netlify.com/

Atte.

Alex Gama Silva

De: Alex Gama Silva
Enviado: sexta-feira, 16 de agosto de 2024 16:15
Para: 00001073265018SP@al.educacao.sp.gov.br <00001073265018SP@al.educacao.sp.gov.br>; 00001073265018SP@al.educacao.sp.gov.br <00001073265018SP@al.educacao.sp.gov.br>; Camily Gomes Dos Santos <00001121700688SP@al.educacao.sp.gov.br>; 00001106258198SP@al.educacao.sp.gov.br <00001106258198SP@al.educacao.sp.gov.br>; 00001106258198SP@al.educacao.sp.gov.br <00001106258198SP@al.educacao.sp.gov.br>; 00001129460691SP@al.educacao.sp.gov.br <00001129460691SP@al.educacao.sp.gov.br>; 00001129460691SP@al.educacao.sp.gov.br <00001129460691SP@al.educacao.sp.gov.br>; GABRIELLY COSTA DOS SANTOS <00001121723238SP@al.educacao.sp.gov.br>; 0000113297771XSP@al.educacao.sp.gov.br <0000113297771XSP@al.educacao.sp.gov.br>; 0000113297771XSP@al.educacao.sp.gov.br <0000113297771XSP@al.educacao.sp.gov.br>; 00001117017217SP@al.educacao.sp.gov.br <00001117017217SP@al.educacao.sp.gov.br>; 00001117017217SP@al.educacao.sp.gov.br <00001117017217SP@al.educacao.sp.gov.br>; Julia Alves Da Silva <00001094860487SP@al.educacao.sp.gov.br>; KAUAN DA SILVA FARIAS <00001114661910SP@al.educacao.sp.gov.br>; 0000111863889XSP@al.educacao.sp.gov.br <0000111863889XSP@al.educacao.sp.gov.br>; 0000111863889XSP@al.educacao.sp.gov.br <0000111863889XSP@al.educacao.sp.gov.br>; Larissa Rafaela De Oliveira Santos <0000112174400XSP@al.educacao.sp.gov.br>; 0000109330568XSP@al.educacao.sp.gov.br <0000109330568XSP@al.educacao.sp.gov.br>; 0000109330568XSP@al.educacao.sp.gov.br <0000109330568XSP@al.educacao.sp.gov.br>; Leticia Souza De Carvalho <0000111692724xsp@al.educacao.sp.gov.br>; Luiz Eduardo Bonfim <00001103441267SP@al.educacao.sp.gov.br>; 00001117161006SP@al.educacao.sp.gov.br <00001117161006SP@al.educacao.sp.gov.br>; 00001117161006SP@al.educacao.sp.gov.br <00001117161006SP@al.educacao.sp.gov.br>; MELISSA RODRIGUES PALAGUIAR BITTENCOURT <00001103437690SP@al.educacao.sp.gov.br>; 00001223070700SP@al.educacao.sp.gov.br <00001223070700SP@al.educacao.sp.gov.br>; 00001223070700SP@al.educacao.sp.gov.br <00001223070700SP@al.educacao.sp.gov.br>; 00001117673741SP@al.educacao.sp.gov.br <00001117673741SP@al.educacao.sp.gov.br>; 00001117673741SP@al.educacao.sp.gov.br <00001117673741SP@al.educacao.sp.gov.br>; Vinicius Rodrigues De Luna <00001132449972SP@al.educacao.sp.gov.br>; Vitor Benevides De Sousa <00001104060747SP@al.educacao.sp.gov.br>; 00001082728901SP@al.educacao.sp.gov.br <00001082728901SP@al.educacao.sp.gov.br>; 00001082728901SP@al.educacao.sp.gov.br <00001082728901SP@al.educacao.sp.gov.br>; 0000113273180XSP@al.educacao.sp.gov.br <0000113273180XSP@al.educacao.sp.gov.br>; 0000113273180XSP@al.educacao.sp.gov.br <0000113273180XSP@al.educacao.sp.gov.br>; Davyd Salustiano De Jesus <00001104119900sp@al.educacao.sp.gov.br>
Cc: Ana Carolina Lima Da Silva <00001124874203SP@aluno.educacao.sp.gov.br>; ANA LUIZA NUNES DA SILVA <00001118708829SP@aluno.educacao.sp.gov.br>; Anderson Enzo Neves De Souza <00001118564613SP@aluno.educacao.sp.gov.br>; Aryelle Estephane De França Lima <00001222993478SP@aluno.educacao.sp.gov.br>; Bianca Viana De Sousa <00001125226705SP@aluno.educacao.sp.gov.br>; Camila Fernanda De Lima <00001073265018SP@aluno.educacao.sp.gov.br>; Camily Gomes Dos Santos <00001121700688SP@aluno.educacao.sp.gov.br>; DEBORAH EVELYN SOUSA OLIVEIRA <00001106258198SP@aluno.educacao.sp.gov.br>; DEBORAH EVELYN SOUSA OLIVEIRA <00001106258198SP@aluno.educacao.sp.gov.br>; GABRIELLY COSTA DOS SANTOS <00001121723238SP@aluno.educacao.sp.gov.br>; Geovanna Vieira Felipe Leal <0000109342154XSP@aluno.educacao.sp.gov.br>; Guilherme Dos Santos Pereira <00001117017217SP@aluno.educacao.sp.gov.br>; Julia Alves Da Silva <00001094860487SP@aluno.educacao.sp.gov.br>; KAUAN DA SILVA FARIAS <00001114661910SP@aluno.educacao.sp.gov.br>; Kauê Franklin Da Silva <0000111863889XSP@aluno.educacao.sp.gov.br>; Larissa Rafaela De Oliveira Santos <0000112174400XSP@aluno.educacao.sp.gov.br>; LEANDRA CORREIA DIAS <0000109330568XSP@aluno.educacao.sp.gov.br>; LETICIA SOUZA DE CARVALHO <0000111692724XSP@aluno.educacao.sp.gov.br>; LUIZ EDUARDO BONFIM <00001103441267SP@aluno.educacao.sp.gov.br>; MANUELA SOUZA DE ALENCAR <00001117161006SP@aluno.educacao.sp.gov.br>; MELISSA RODRIGUES PALAGUIAR BITTENCOURT <00001103437690SP@aluno.educacao.sp.gov.br>; 00001223070700SP@aluno.educacao.sp.gov.br <00001223070700SP@aluno.educacao.sp.gov.br>; 00001223070700SP@aluno.educacao.sp.gov.br <00001223070700SP@aluno.educacao.sp.gov.br>; THIAGO ALVES DOS SANTOS <00001117673741SP@aluno.educacao.sp.gov.br>; Vinicius Rodrigues De Luna <00001132449972SP@aluno.educacao.sp.gov.br>; Vitor Benevides De Sousa <00001104060747SP@aluno.educacao.sp.gov.br>; Yasmin Nathiely Garcia Queiroz <00001082728901SP@aluno.educacao.sp.gov.br>; ZAKE FERNANDES OLIVEIRA DE SOUZA <0000113273180XSP@aluno.educacao.sp.gov.br>; Davyd Salustiano De Jesus <00001104119900SP@aluno.educacao.sp.gov.br>
Assunto: Código HTML Currículo Hospedar no https://app.netlify.com
 
...

[Mensagem cortada]  Exibir toda a mensagem
 2 anexos
  •  Anexos verificados pelo Gmail
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.skills li,
ul.skills li:before {
    content: "\2022";
    padding-right: 8px;
    color: #333;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
styles.css
Exibindo styles.css.
